/* Base typography */

body {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 1.86;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

li {
  list-style-type: square;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

/* Layout table styles */

.main-content {
  width: 960px;
  margin: auto;
  border-spacing: 10px;
}

.main-content-cell {
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.main-content-cell:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main-content-cell-heading {
  font-size: 18px;
  text-align: center;
}

/* Styles for top cover */

.top-cover {
  background: url("raghu-b-cover.jpg") no-repeat center bottom;
  background-size: cover;
  height: 300px;
}

.cover-content {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.cover-cell {
  vertical-align: middle;
  text-align: center;
}

.cover-heading {
  letter-spacing: 0.4em;
  color: white;
  font-size: 36px;
}

/* Miscellaneous styles */

.profile-image {
  height: 200px;
  border: thick white solid;
}

.experience {
  width: 100%;
  padding-bottom: 20px;
}

.photograph {
  width: 200px;
  margin: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(240, 240, 240);
}
